# never push data!
data
*.csv
*.json
*.sql
*.xls
*.xlsx
*.xml
*.pkl

# documentation
docs/sphinx-source/_static
docs/sphinx-source/_templates
docs/sphinx-build/doctrees


# secrets


# miscellaneous IDE/Environment
.idea
.ipynb_checkpoints
__pycache__
.pytest_cache


# deployment
build
dist
dependency_links.txt
PKG-INFO
requires.txt
SOURCES.txt
top_level.txt