# never push data!
data
*.csv
*.json
*.sql
*.xls
*.xlsx
*.xml
*.pkl

# secrets


# miscellaneous IDE/Environment
.idea
.ipynb_checkpoints
__pycache__
.pytest_cache


# deployment
build
dist
dependency_links.txt
PKG-INFO
requires.txt
SOURCES.txt
top_level.txt
docs/build
