googlemaps==4.6.0
numpy==1.22.2
pandas==1.4.1
recommonmark==0.7.1
requests==2.27.1
responses==0.16.0
scikit_learn==1.0.2
scipy==1.8.0
setuptools==58.0.4
SQLAlchemy==1.4.31
tqdm==4.62.3
atomicwrites==1.2.1
attrs==18.2.0
backports.csv==1.0.6
certifi==2018.8.24
chardet==3.0.4
colorama==0.4.1
deprecation==2.0.5
entrypoints==0.2.3
future==0.16.0
idna==2.7
keyring==12.0.2
more-itertools==5.0.0
numpy==1.15.2
packaging==17.1
pluggy==0.8.1
py==1.7.0
pyparsing==2.2.1
pytest==4.1.1
python-dateutil==2.7.3
pytz==2018.5
six==1.11.0
synapseclient==1.9.0
urllib3==1.26.5
wincertstore==0.2
